*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui;
}
p {
  initial-letter: bold;
}
#divFlex {
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#footerPadding {
  display: flex;
  padding: 50px;
  justify-content: center;
}

#divFlex1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#likeButton {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: transform 0.3s ease;
}

#likeButton:hover {
  transform: scale(1.5);
}

#bookedButton {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
}

#bookedButton:hover {
  transform: scale(1.5);
}

#notbookedButton {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
}

#notbookedButton:hover {
  transform: scale(1.5);
}

.first-letter {
  font-weight: bold;
  font-size: larger;
}

.image-board__container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  grid-template-rows: auto;
  gap: 7rem;
  padding: 100px;
  /* width: 100%; */
  margin: 10px;
}

.image-board__image {
  height: auto;
  width: 70%;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

header img {
  padding: 10px;
}

.image-board__image--1 {
  max-width: fit-content;
  height: 100%;
}

.image-board__image--2 {
  /* Add styles here */
}

.image-board__image--3 {
  /* Add styles here */
}

.image-board__image--4 {
  /* Add styles here */
}

.image-board__image--5 {
  /* Add styles here */
}

#navigation_page {
  background-color: rgb(101, 180, 233);
}

#navigation_page ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

#mybookingsCentered {
  display: flex;
  gap: 30px;
  text-decoration: none;
  list-style-type: none;
}

#mybookingsCentered a,
#bookingsFestival {
  text-decoration: none;
  list-style-type: none;
  color: rgba(127, 130, 131, 0.751);
  font-family: sans-serif;
}

#mybookingsCentered a:focus {
  color: blue;
}
#navigation_page ul li {
  flex: 1 0 auto;
  text-align: center;
  padding: 10px;
}

#navigation_page ul li a {
  text-decoration: none;
  color: rgb(254, 253, 255);
  font-weight: 1rem;
}

#navigation_page ul li:hover {
  background-color: rgba(34, 146, 181, 0.548);
}

#navigation_page ul li:focus,
#navigation_page ul li:visited {
}

#navigation_page ul li a:hover {
  font-size: large;
}

#input-text {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5%;
  height: 40px;
}

#input-text input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
}

#input-text button {
  border: none;
  background-color: rgb(101, 180, 233);
  height: 100%;
  border-radius: 0;
}

#input-text button img {
  height: 15px;
  width: 15px;
}

#header-event {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: -15px; */
  z-index: 1;
  position: fixed;
  top: 0;
  width: calc(100% - 2rem);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}
#header-event button {
  border: none;
  background-color: rgb(113, 165, 200);
  border-radius: 5px;
  cursor: pointer;
}

#header-event button svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

header img {
  padding: 10px;
  transition: transform 0.5s;
  border-radius: 30%;
}

header img:active {
  transform: rotate(360deg);
}

#header-logo {
  display: flex;
  flex-direction: row;
  padding: 5px;
  text-decoration: none;
}
#newEvent,
#formHeader button {
  display: inline-flex;
  align-items: center;
  background-color: rgb(101, 180, 233);
  border: none;
  padding: 10px;
  font-size: 21px;
  cursor: pointer;
  max-width: fit-content;
  height: 45px;
  color: #f5f6f6;
  border-radius: 10%;
}

#newEvent img.plus-icon {
  width: 12px;
  height: auto;
  margin-right: 8px;
}

#formEventsCategories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 130px;
}

#formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(101, 180, 233);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

button svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

button:focus {
  outline: none;
}

header button,
header input {
  display: inline-flex;
  align-items: center;
  background-color: rgb(101, 180, 233);
  border: none;
  padding: 10px;
  font-size: 21px;
  cursor: pointer;
  width: 90px;
  height: 45px;
  color: #f5f6f6;
  border-radius: 10%;
}

section {
  border-radius: 5px;
  border: 2px solid lightgray;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

section:hover {
  background-color: lightgray;
}

#sectionTags {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

#sectionTags li {
  display: flex;
  background-color: lightgray;
  padding: 5px 10px;
  margin: 0 5px;
  text-decoration: none;
  list-style-type: none;
  border-radius: 14px;
}

#headerButton {
  text-decoration: none;
  list-style-type: none;
}

#headerButton button {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid aqua;
  color: white;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  padding: 0;
  background-color: chocolate;
  border-radius: 50%;
}

#divHeaderButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#divHeaderButton a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}

#divHeaderButton button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bookingsMain {
  padding: 100px;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
}
#logodiv {
  display: flex;
}

#logodiv {
  display: flex;
}

#logodiv a {
  list-style-type: none;
  text-decoration: none;
}

.profile-body {
  margin: 25px;
  padding: 100px;
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  list-style-type: none;
}

.aboutme {
  padding: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-body-class {
  left: 100px;
  text-align: left;
  margin-bottom: 20%;
  margin-right: 100px;
  display: flex;
  gap: 15px;
  list-style-type: none;
  flex-direction: column;
}

.header-profile {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  background-color: rgb(83, 150, 101);
  border: 1px solid black;
  width: 100%;
  height: 10%;
  padding: 20px;
  top: 0px;
}

.counter {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #eeeeee;
}
.counter__button {
  width: 200px;
  height: 60px;
  color: #eeeeee;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.profile-image {
  max-width: 300px;
  border-radius: 50%;
  border: #183153 1px solid;
  height: 160px;
}

#footer-main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
#footer-main ul {
  list-style-type: none;
}
