*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  background-color: rgba(0, 0, 0, 0.048);
}
p {
  initial-letter: bold;
}
#divFlex {
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
}
#likeButton {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: transform 0.3s ease;
}

#likeButton:hover {
  transform: scale(1.5);
}

.first-letter {
  font-weight: bold;
  font-size: larger;
}

.image-board__container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10rem;
  padding: 100px;
  width: 100%;
  margin: 10px;
}

.image-board__image {
  height: auto;
  width: 70%;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

section {
  border-radius: 5px;
  border: 2px solid rgb(171, 171, 177);
  padding: 10px;
  background-color: rgb(235, 234, 233);
  text-align: center;
}

header img {
  padding: 10px;
}

.image-board__image--1 {
  /* Add styles here */
}

.image-board__image--2 {
  /* Add styles here */
}

.image-board__image--3 {
  /* Add styles here */
}

.image-board__image--4 {
  /* Add styles here */
}

.image-board__image--5 {
  /* Add styles here */
}

section:hover {
  opacity: 0.8;
}

section p:hover {
  font-size: large;
}

#navigation_page {
  background-color: rgb(101, 180, 233);
  margin-top: 100px;
}

#navigation_page ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

#navigation_page ul li {
  flex: 1 0 auto;
  text-align: center;
  padding: 10px;
}

#navigation_page ul li a {
  text-decoration: none;
  color: rgb(254, 253, 255);
  font-weight: 1rem;
}

#navigation_page ul li:hover {
  background-color: rgba(34, 146, 181, 0.548);
}

#navigation_page ul li:focus,
#navigation_page ul li:visited {
  background-color: rgba(17, 27, 212, 0.548);
}

#navigation_page ul li a:hover {
  font-size: large;
}

#input-text {
  display: flex;
  align-items: center;
  text-align: center;
}
input,
button {
  padding: 10px;
  margin: 10px;
}

#header-event {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

header img {
  padding: 10px;
  transition: transform 0.5s;
  border-radius: 30%;
}

header img:active {
  transform: rotate(360deg);
}

#header-logo {
  display: flex;
  flex-direction: row;
  padding: 5px;
  text-decoration: none;
}

#newEvent,
#formHeader button {
  display: inline-flex;
  align-items: center;
  background-color: rgb(101, 180, 233);
  border: none;
  padding: 10px;
  font-size: 21px;
  cursor: pointer;
  max-width: fit-content;
  height: 60px;
  color: #f5f6f6;
  border-radius: 10%;
}
#newEvent img.plus-icon {
  width: 12px;
  height: auto;
  margin-right: 8px;
}

#formEventsCategories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

#input-text {
  background-color: rgba(236, 239, 239, 0.26);
  border-radius: 15px;
}
